# Dependencies
node_modules/
.pnpm-store/

# Next.js builds
.next/
out/

# Android build artifacts
android/.idea/
android/*/build/
android/local.properties
android/app/build/
android/.gradle/
android/local.properties

# Environment secrets
.env.local
.env

# Debug logs and IDEs
.vscode/
.idea/
*.tsbuildinfo